<!DOCTYPE html>
{% extends "TaskManagement/base.html" %}
{% load staticfiles %}
{% block body_block %}
  {% if user.is_authenticated and tasks %}
  <!-- <h3>Welcome {{user}}</h3> -->
    <div class="container">
      <div class = "jumbotron">
        <div class="container">
          <a href="{% url 'TaskManagement:updateTask' %}"><input type="submit" value="Update Task" class="btn btn-primary"></a>
        </div><br>
        <div class="container">
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" href="{% url 'TaskManagement:homePage' %}"><h5>All Tasks<h5></a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'TaskManagement:assignedtome'%}"><h5>Assigned to Me<h5></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'TaskManagement:createdbyme'%}"><h5>Created by Me<h5></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'TaskManagement:drafts' %}"><h5>Drafts<h5></a></li>
      </ul>
      <div class="form-group row" >
      <div class="col-xs-2" align="right"><input class="form-control" id="myInput" type="text" placeholder="Search.."></div></div>
      <table class="table table-dark table-hover" id="table">
      <thead>
        <tr>
          <th onclick="sortTable(0)">Task Id <i class="fa fa-sort" style="font-size: 20px;color: white;"></i></th>
          <th onclick="sortTable(1)">Task Name <i class="fa fa-sort" style="font-size: 20px;color: white;"></i></th>
          <th onclick="sortTable(2)">Task Description <i class="fa fa-sort" style="font-size: 20px;color: white;"></i></th>
          <th onclick="sortTable(3)">Created Date <i class="fa fa-sort" style="font-size: 20px;color: white;"></i></th>
          <th onclick="sortTable(4)">Created By <i class="fa fa-sort" style="font-size: 20px;color: white;"></i></th>
          <th onclick="sortTable(5)">Status <i class="fa fa-sort" style="font-size: 20px;color: white;"></i></th>
        </tr>
        </thead>
        <tbody id="myTable">
        {% for task in tasks %}
        <tr>
          <td>{{task.taskId}}</td>
          <td>{{task.taskName}}</td>
          <td>{{task.taskDescription}}</td>
          <td>{{task.createdDate}}</td>
          <td>{{task.createdBy}}</td>
          <td>{{task.status}}</td>
        </tr>
        {% endfor %}
      </tbody>
        </table>
        <form action="{% url 'TaskManagement:exportcreated' %}" method="post">
          {% csrf_token %}

          <input type="submit" class="btn btn-primary" value="Export" name="assigned">
        </form>
        {% else %}
          <div class="container">
            <div class = "jumbotron">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link" href="{% url 'TaskManagement:homePage' %}"><h5>All Tasks<h5></a></li>
              <li class="nav-item"><a class="nav-link active" href="{% url 'TaskManagement:assignedtome'%}"><h5>Assigned to Me<h5></a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'TaskManagement:createdbyme'%}"><h5>Created by Me<h5></a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'TaskManagement:drafts' %}"><h5>Drafts<h5></a></li>
            </ul>
        <p align="center">No Tasks are assigned to you yet!!</p>
    {% endif %}
  </div>
  </div>
</div>
</div>
</div>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("table");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc";
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>

  {% endblock %}
