<!DOCTYPE html>
{% extends "TaskManagement/base.html" %}
{% load staticfiles %}
{% block body_block %}
<div class="row">

  {# icon and search-box #}
  <div class="col-6 align-left">
    <i id="search-icon" class="fas fa-search"></i>
    <input id="user-input" placeholder="Search">
  </div>

  {# artist-list section #}
  <div id="replaceable-content" class="col-6">
    {% if users %}
  <ul>
  {% for user in users %}
    <li>{{ user.username }}</li>
  {% endfor %}

{% else %}
  <p>No artists found.</p>
  </ul>
{% endif %}
  </div>

</div>
{% endblock %}
